<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
    <!-- 可以引入外部的 js 脚本 -->
    <script src="./jquery.min.js"></script>
    <!-- 这个是插件 js，基本是必须要引入的 -->
    <link rel="stylesheet" href="./plugins.css">
    <script type="text/javascript" src="./plugins.js"></script>
    <script type="text/javascript" src="./plugins-ui.js"></script>
    <!-- 这里的 main.js 就是插件结构里面的 main.js -->
    <script src="./main.js"></script>
  </head>

  <body>
    <!-- 这里是 html 区域，H5 的标签都可以在这里使用，设置 id 然后到 main.js 里面绑定事件 -->
    <!-- 操作 -->
    <h1>自定义弹窗</h1>
    <div id="my-table" style="overflow: auto;">
      <img class="barcode" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAACAAQAAAADrRVxmAAABFUlEQVR42r2WUYoDQQhEBa/V4NUFryWYKmfZDPmbCrtDSHfeh2hZOrH5eOxPQJtZ1PSJ2qsEAj88wYZXDRw7kT4EvKrgeFUazi9AILVGcTJgcUjN/F7tQ2DM6Hp+VX8IrhYzLb93/xFA0MOPI7WqksDknhsWSoUEptYwCetlbKaPQaM5lc6A0Lo0wNIc8XK/NRCNiGy3Jw8FQJmGWQYi4YagEnDo3Jxl2+IEgEgHhjXz9urQgK3f6j1AAqAqKK+4Uy7VBeBF0yCvXSsa4OytSJyBUMCOINYSKkN+GthlEAPvwy8WI4HYZeQ/ftHA2cUKmRjeQgbBZcCWpw5Q1S56r5FAXC+9w2EMEazI8ExCnwwJ/Ms/gxfJw2gNcQX+wgAAAABJRU5ErkJggg==" style="margin-top: 15px">

      <table cellspacing="0" style="width: 600px;" cellpadding="0" border="1px solid #ccc">
        <tbody>
          <tr>
            <td>id</td>
            <td>名字</td>
            <td>角色</td>
            <td>部门</td>
          </tr>
          <tr>
            <td>0</td>
            <td>管理员</td>
            <td>admin</td>
            <td>人事</td>
          </tr>
          <tr>
            <td>1</td>
            <td>管理员1</td>
            <td>admin1</td>
            <td>人事1</td>
          </tr>
        </tbody>
      </table>
    </div>
    
    <button id="button">添加</button>
  </body>
</html>